/**
 *------
 * BGA framework: Gregory Isabelli & Emmanuel Colin & BoardGameArena
 * weresinking implementation : © Edward Niemann <edward.niemann841@gmail.com>
 *
 * This code has been produced on the BGA studio platform for use on http://boardgamearena.com.
 * See http://en.boardgamearena.com/#!doc/Studio for more information.
 * -----
 *
 * weresinking.css
 *
 * weresinking stylesheet
 *
 *
 */
/*
    This is the CSS stylesheet of your game User Interface.
    
    Styles defined on this file will be applied to the HTML elements you define in your
    HTML template (weresinking_weresinking.tpl), and to HTML elements you create dynamically
    (in weresinking.js).
    
    Usually, you are using CSS to:
    
    1°) define the overall layout of your game
        (ex: place the board on the top left, place player's hand beside, place the deck on the right, ...).

    2°) create your CSS-sprites:
        All images of your games should be gathered into a small number of image files. Then, using
        background-image and background-position CSS properties, you create HTML blocks that can 
        display these images correctly (see example below).
    
    3°) ... anything else:
        It is really easy to add and remove CSS classes dynamically from your Javascript with
        dojo.addClass and dojo.removeClass. It is also easy to check if an element has a class
        (dojo.hasClass) or to get all elements with a specific class (dojo.query). This is why,
        very often, using CSS classes for the logic of your user interface allow you to do complex
        thing easily.
        
        
     Note: on the production platform, this file will be compressed and comments will be removed.
           Consequently, don't hesitate to put as many comments as necessary.
*/


/* Note: you must not use any @import directive */


/********* You can start writing your CSS below this line: **********/


/*
    Example of CSS sprites (a black token and a white token, 20x20px each, embedded in the same "tokens.png" 40x20px image):

    .white_token {
        background-image: url('img/tokens.png');
        background-position: 0px 0px;
    }
    .black_token {
        background-image: url('img/tokens.png');
        background-position: -20px 0px;
    }
    .token {
        width: 20px;
        height: 20px;
        background-repeat: none;
    }
*/
/* https://stackoverflow.com/questions/4191260/drawing-a-grid-using-css 
 * The grid will help scale elements to appropriate sizes. (each square is 1"x1")
 */
.grid {
	height: 100%;
	width: 100%;
	margin: 0;
	background-image:
		repeating-linear-gradient(#000 0 1px, transparent 1px 100%),
		repeating-linear-gradient(90deg, #000 0 1px, transparent 1px 100%);
	background-size: 48px 48px;
}

/* Everything about sheets! (Threshold sheets, enemy sheets, player sheets) 
 * Actually they are all the same dimensions and have a front and backside. 
 * Here we define the look of the sheet, their precise positions, and
 * add the enemy damage counter while we're at it.
 */
.sheet {
	width: 240px;
	height: 336px;
	margin-bottom: 15px;
	border-radius: 10px;	
}

#thresholdSheet {
	perspective: 1000px;
	z-index: 0;
	margin-top: 110px;
	background-color: #5E4C42;
	transform-style: preserve-3d;
	transition: transform 1s;
}

#enemySheetWrapper {
	margin-top: 110px;
	margin-left: 20px;
}

#damageTokenSpaces {
	position: absolute;
	width: 200px;
	height: 25px;
	margin-left: 18px;
	background-image: url('img/DamageCounter.png');
	background-size: 40px;
	background-repeat: no-repeat;
}


.playerSheet {
	width: 336px;
	height: 240px;
	margin-top: 10px;
	margin-right: 10px;
	margin-bottom: 0px;
	background-color: red;
	background-image: url('img/CharacterSheets.jpg');
}

#myCrew {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
}

/* Critical divs positioning/styling:
 * gameCenter: Everything that goes in the middle of the table (threshold sheet, enemy sheet, game board, all the columns)
 * gameCore: Everything in the game center except for the threshold and enemy sheets (game board, cards, columns) 
 * gameBoard: The actual game board with the curved top that defines the location of all the other gameCenter components.
 * cardsOnBoardWrapper: Wrapper div that contains the three card piles on the game board (#waterDrawPile, #waterDiscardPile, #breachDrawPile)
 * columns: Wrapper div that contains all four columns (#waterColumnWrapper, #treasureColumnWrapper, #breachesColumnWrapper, #cannonsColumnWrapper)
 * myHandWrapper: Wrapper div for #myHand div that displays the current player's hand
 */
#gameCenter {
	display: flex;
}

#gameCore {
	z-index: 1;
	margin-left: -110px;
}

#gameboard {
	width: 720px;
	height: 447px;
	margin-bottom: 15px; /* Matching the margin-bottom: 15px of the last #permanentBreach */
	background-image: url('img/GameBoard.png');
}

#cardsOnBoardWrapper {
	display: flex;
	position: absolute;
	z-index: 1;
	margin-top: -290px;
	margin-left: 114px;
}

#waterDiscardPile {
	position: absolute;
	margin-left: 189px;
}

#breachesDrawPile {
	position: absolute;
	margin-left: 376px;
}

#columns {
	position: relative;
	display: flex;
	height: 0px;
}

.column {
	width: 120px;
}

#waterColumnWrapper {
	display: flex;
	flex-direction: column;
	margin-left: 20px;
}

#treasureColumnWrapper {
	margin-left: 70px;
}

#breachesColumnWrapper {
	margin-left: 65px;
	width: 120px;
}

.permanentBreach {
	background-image: url('img/PermanentBreach.jpg');
	width: 120px;
	height: 34px;
	border-radius: 5px;
	margin-bottom: 5px; /* The spacing between two permanent breaches */
}

#permanentBreaches > .permanentBreach:last-child {
	margin-bottom: 15px; /* Matching the margin-bottom: 15px of the #gameboard */
	/* If you want to adjust this, also adjust the details of this.gapBetweenCannonsAndBreaches */
}

#cannonsColumnWrapper {
	margin-left: 70px;
}

#myHandWrapper {
	position: relative;
}

/* Time to define the look of the card! Dimensions, border, selected/not selected looks, etc */
.card {
	width: 120px;
	height: 168px;
	border-radius: 5px;
}

.noCard {
	border: none;
	background-image: none;
	background: none;
}

/*
.cardInHand {
	box-shadow: 5px 5px 5px 0px rgba(0,0,0,0.4);
}
*/

.weresinking-water-card-front {
	background-image: url('img/WaterDeck.jpg');
}

.weresinking-water-card-back {
	background-image: url('img/WaterDeck.jpg');
	background-position: '0px 0px';
}

.weresinking-cannon-card-front {
	background-image: url('img/Cannons.jpg');
}

.weresinking-cannon-card-back {
	background-image: url('img/Cannons.jpg');
}

.weresinking-breach-card-front {
	background-image: url('img/BreachDeck.jpg');
}

.weresinking-breach-card-back {
	background-image: url('img/BreachDeck.jpg');
	background-position: '0px 0px';
}

#myCharacterItemsWrapper {
	display: flex;
	flex-direction: row;
	align-items: center;
	flex-wrap: wrap;
}

.dial {
	width: 102px;
	height: 102px;
	border-radius: 51px;
	margin-top: 10px;
	background-image: url('img/Dials.jpg');
}

.dialColumn {
	width: 120px;
	display: flex;
	flex-direction: column;
	align-items: center;
}

#myDial {
	margin: 30px;
}

/* CSS Sprite magic */
/* Damage token */
.damageCounterKraken {
	margin-top: 294px;
}

.damageCounterShark {
	margin-top: 280px;
}

.damageCounterSirens {
	margin-top: 300px;
}

.damageCounterSkullsairs {
	margin-top: 282px;
}

.enemy6HP {
	background-position: -6px;
}

.enemy5HP {
	background-position: 21px;
}

.enemy4HP {
	background-position: 49px;
}

.enemy3HP {
	background-position: 77px;
}

.enemy2HP {
	background-position: 105px;
}

.enemy1HP {
	background-position: 133px;
}

.enemy0HP {
	background-position: 160px;
}

.noDamageCounter {
	background-position: -50px;
}

/* Dice: ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/
/* Positioning */
.diceColumn {
	position: absolute;
	margin-left: 128px;
}

/* Image */
.weresinking-die .bga-dice_die-face {
	background: url('img/Dice.jpg');
}

/* Die values: */
.bga-dice_die .bga-dice_die-face[data-face="1"] {
	background-position-x: 0%;
}

.bga-dice_die .bga-dice_die-face[data-face="2"] {
	background-position-x: 20%;
}

.bga-dice_die .bga-dice_die-face[data-face="3"] {
	background-position-x: 40%;
}

.bga-dice_die .bga-dice_die-face[data-face="4"] {
	background-position-x: 60%;
}

.bga-dice_die .bga-dice_die-face[data-face="5"] {
	background-position-x: 80%;
}

.bga-dice_die .bga-dice_die-face[data-face="6"] {
	background-position-x: 100%;
}

/* Die type: */
.weresinking-die[data-color="Basic"] .bga-dice_die-face {
	background-position-y: 240px;
}

.weresinking-die[data-color="Kraken"] .bga-dice_die-face {
	background-position-y: 210px;
}

.weresinking-die[data-color="Shark"] .bga-dice_die-face {
	background-position-y: 180px;
}

.weresinking-die[data-color="Sirens"] .bga-dice_die-face {
	background-position-y: 150px;
}

.weresinking-die[data-color="Skullsairs"] .bga-dice_die-face {
	background-position-y: 120px; 
}

.weresinking-die[data-color="Cannon1"] .bga-dice_die-face {
	background-position-y: 90px;
}

.weresinking-die[data-color="Cannon2"] .bga-dice_die-face {
	background-position-y: 60px;
}

.weresinking-die[data-color="Cannon3"] .bga-dice_die-face {
	background-position-y: 30px; 
}

/* Threshold Sheets: ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */
.threshold_rotateAround {
	transform: rotateZ(180deg);
}

.threshold_flipOver {
	transform: rotateX(180deg);
}

/* 3 players */
.threshold_3players_level1 {
	background-image: url('img/ThresholdSheets.jpg');
	background-position: 0px 336px;
	transform: none; 
}

.threshold_3players_level2 {
	background-image: url('img/ThresholdSheets.jpg');
	background-position: 0px 336px;
	transform: rotate(180deg);
}

.threshold_3players_level3 {
	background-image: url('img/ThresholdSheets.jpg');
	background-position: 0px 0px;
	transform: none;
}

.threshold_3players_level4 {
	background-image: url('img/ThresholdSheets.jpg');
	background-position: 0px 0px;
	transform: rotate(180deg);
}

/* 4 players */
.threshold_4players_level1 {
	background-image: url('img/ThresholdSheets.jpg');
	background-position: 720px 336px;
	transform: none; 
}

.threshold_4players_level2 {
	background-image: url('img/ThresholdSheets.jpg');
	background-position: 720px 336px;
	transform: rotate(180deg);
}

.threshold_4players_level3 {
	background-image: url('img/ThresholdSheets.jpg');
	background-position: 720px 0px;
	transform: none;
}

.threshold_4players_level4 {
	background-image: url('img/ThresholdSheets.jpg');
	background-position: 720px 0px;
	transform: rotate(180deg);
}

/* 5 players */
.threshold_5players_level1 {
	background-image: url('img/ThresholdSheets.jpg');
	background-position: 480px 336px;
	transform: none; 
}

.threshold_5players_level2 {
	background-image: url('img/ThresholdSheets.jpg');
	background-position: 480px 336px;
	transform: rotate(180deg);
}

.threshold_5players_level3 {
	background-image: url('img/ThresholdSheets.jpg');
	background-position: 480px 0px;
	transform: none;
}

.threshold_5players_level4 {
	background-image: url('img/ThresholdSheets.jpg');
	background-position: 480px 0px;
	transform: rotate(180deg);
}

/* 6 players */
.threshold_6players_level1 {
	background-image: url('img/ThresholdSheets.jpg');
	background-position: 240px 336px;
	transform: none; 
}

.threshold_6players_level2 {
	background-image: url('img/ThresholdSheets.jpg');
	background-position: 240px 336px;
	transform: rotate(180deg);
}

.threshold_6players_level3 {
	background-image: url('img/ThresholdSheets.jpg');
	background-position: 240px 0px;
	transform: none;
}

.threshold_6players_level4 {
	background-image: url('img/ThresholdSheets.jpg');
	background-position: 240px 0px;
	transform: rotate(180deg);
}

/* Enemy Sheets! ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/
/* Kraken: */
.enemyKrakenFront {
	background-image: url('img/EnemySheets.jpg');
	background-position: 0px 336px;
}

.enemyKrakenBack {
	background-image: url('img/EnemySheets.jpg');
	background-position: 0px 0px;
}

/* The Shark: */
.enemySharkFront {
	background-image: url('img/EnemySheets.jpg');
	background-position: 240px 336px;
}

.enemySharkBack {
	background-image: url('img/EnemySheets.jpg');
	background-position: 240px 0px;
}

/* The Sirens: */
.enemySirensFront {
	background-image: url('img/EnemySheets.jpg');
	background-position: 480px 336px;
}

.enemySirensBack {
	background-image: url('img/EnemySheets.jpg');
	background-position: 480px 0px;
}

/* The Skullsairs: */
.enemySkullsairsFront {
	background-image: url('img/EnemySheets.jpg');
	background-position: 720px 336px;
}

.enemySkullsairsBack {
	background-image: url('img/EnemySheets.jpg');
	background-position: 720px 0px;
}

/* Player Sheets:
 * actionSide class for the side with action summary, backstorySide class for the side with a backstory
 * data-color for sheet color (one of the six hexadecimal values)
 */
.playerSheet.actionSide {
	background-position-x: 0px;
}

.playerSheet.backstorySide {
	background-position-x: 336px;
}

.playerSheet[data-color="ff5165"]{
	background-position-y: 0px;
}

.playerSheet[data-color="f19c27"] {
	background-position-y: 960px;
}

.playerSheet[data-color="00c398"] {
	background-position-y: 720px;
}

.playerSheet[data-color="4ccaf2"] {
	background-position-y: 480px;
}

.playerSheet[data-color="af73b1"] {
	background-position-y: 240px;
}

.playerSheet[data-color="646D74"] {
	background-position-y: 1200px;
}

/* Dial
 * data-color indicates color (one of the six hexadecimal values)
 * data-value indicates which action to display (one of backside, bucket, plunder, patch, fire)
 */
.dial[data-color="ff5165"] {
	background-position-y: 0px;
}

.dial[data-color="f19c27"] {
	background-position-y: 510px;
}

.dial[data-color="00c398"] {
	background-position-y: 408px;
}

.dial[data-color="4ccaf2"] {
	background-position-y: 306px;
}

.dial[data-color="af73b1"] {
	background-position-y: 204px;
}

.dial[data-color="646D74"] {
	background-position-y: 102px;
}

.dial[data-value="backside"] {
	background-position-x: 0px;
}

.dial[data-value="bucket"] {
	background-position-x: 408px;
}

.dial[data-value="plunder"] {
	background-position-x: 306px;
}

.dial[data-value="patch"] {
	background-position-x: 204px;
}

.dial[data-value="fire"] {
	background-position-x: 102px;
}
