/**
 *------
 * BGA framework: Gregory Isabelli & Emmanuel Colin & BoardGameArena
 * weresinking implementation : © Edward Niemann <edward.niemann841@gmail.com>
 *
 * This code has been produced on the BGA studio platform for use on http://boardgamearena.com.
 * See http://en.boardgamearena.com/#!doc/Studio for more information.
 * -----
 *
 * weresinking.css
 *
 * weresinking stylesheet
 *
 *

/*
    This is the CSS stylesheet of your game User Interface.
    
    Styles defined on this file will be applied to the HTML elements you define in your
    HTML template (weresinking_weresinking.tpl), and to HTML elements you create dynamically
    (in weresinking.js).
    
    Usually, you are using CSS to:
    
    1°) define the overall layout of your game
        (ex: place the board on the top left, place player's hand beside, place the deck on the right, ...).

    2°) create your CSS-sprites:
        All images of your games should be gathered into a small number of image files. Then, using
        background-image and background-position CSS properties, you create HTML blocks that can 
        display these images correctly (see example below).
    
    3°) ... anything else:
        It is really easy to add and remove CSS classes dynamically from your Javascript with
        dojo.addClass and dojo.removeClass. It is also easy to check if an element has a class
        (dojo.hasClass) or to get all elements with a specific class (dojo.query). This is why,
        very often, using CSS classes for the logic of your user interface allow you to do complex
        thing easily.
        
        
     Note: on the production platform, this file will be compressed and comments will be removed.
           Consequently, don't hesitate to put as many comments as necessary.
*/


/* Note: you must not use any @import directive */


/********* You can start writing your CSS below this line: **********/


/*
    Example of CSS sprites (a black token and a white token, 20x20px each, embedded in the same "tokens.png" 40x20px image):

    .white_token {
        background-image: url('img/tokens.png');
        background-position: 0px 0px;
    }
    .black_token {
        background-image: url('img/tokens.png');
        background-position: -20px 0px;
    }
    .token {
        width: 20px;
        height: 20px;
        background-repeat: none;
    }
*/
/* https://stackoverflow.com/questions/4191260/drawing-a-grid-using-css 
 * The grid will help scale elements to appropriate sizes. (each square is 1"x1")
 */
.grid {
	height: 100%;
	width: 100%;
	margin: 0;
	background-image:
		repeating-linear-gradient(#000 0 1px, transparent 1px 100%),
		repeating-linear-gradient(90deg, #000 0 1px, transparent 1px 100%);
	background-size: 48px 48px;

}

.panel {
	width: 240px;
	height: 336px;
	border-radius: 10px;
}

#gameCenter {
	display: flex;
}

#thresholdSheet {
	z-index: 0;
	margin-top: 110px;
	background-color: #5E4C42;
}

#gameCore {
	z-index: 1;
	margin-left: -110px;
}

#enemySheetWrapper {
	margin-top: 110px;
	margin-left: 20px;
}

#damageTokenSpaces {
	width: 200px;
	height: 25px;
	margin-left: 18px;
	background-image: url('img/DamageCounter.png');
	background-size: 40px;
	background-repeat: no-repeat;
}

.damageCounterKraken {
	margin-top: -42px;
}

.damageCounterShark {
	margin-top: -56px;
}

.damageCounterSirens {
	margin-top: -36px;
}

.damageCounterSkullsairs {
	margin-top: -54px;
}

.enemy6HP {
	background-position: -6px;
}

.enemy5HP {
	background-position: 21px;
}

.enemy4HP {
	background-position: 49px;
}

.enemy3HP {
	background-position: 77px;
}

.enemy2HP {
	background-position: 105px;
}

.enemy1HP {
	background-position: 133px;
}

.enemy0HP {
	background-position: 160px;
}

.noDamageCounter {
	background-position: -50px;
}

#gameboard {
	width: 720px;
	height: 447px;
	margin-bottom: 15px;
	background-image: url('img/GameBoard.png');
}


#columns {
	position: relative;
}

.card {
	width: 120px;
	height: 168px;
	border-radius: 10px;
}

#cardsOnBoardWrapper {
	display: flex;
	position: absolute;
	z-index: 1;
	margin-top: -280px;
	margin-left: 112px;
}

#waterDrawPile {
	background-image: url('img/WaterDeckItems.jpg');
	background-position: 0px 0px;
}

#waterDiscardPile {
	position: absolute;
	margin-left: 189px;
}

#breachesDrawPile {
	position: absolute;
	margin-left: 378px;
	background-image: url('img/BreachDeck.jpg');
	background-position: 0px 0px;
}

.cardInHand {
	box-shadow: 5px 5px 5px 0px rgba(0,0,0,0.4);
}

.noCard {
	border: none;
	background-image: none;
	background: none;
}

#waterColumn {
	position: relative;
	margin-left: 20px;
}

#myHandWrapper {
	position: relative;
}

/* CSS Sprite magic */
/* Threshold Sheets: ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
 * 3 players */
.threshold_3players_level1 {
	background-image: url('img/ThresholdSheets.jpg');
	background-position: 0px 336px;
	transform: none; 
}

.threshold_3players_level2 {
	background-image: url('img/ThresholdSheets.jpg');
	background-position: 0px 336px;
	transform: rotate(180deg);
}

.threshold_3players_level3 {
	background-image: url('img/ThresholdSheets.jpg');
	background-position: 0px 0px;
	transform: none;
}

.threshold_3players_level4 {
	background-image: url('img/ThresholdSheets.jpg');
	background-position: 0px 0px;
	transform: rotate(180deg);
}

/* 4 players */
.threshold_4players_level1 {
	background-image: url('img/ThresholdSheets.jpg');
	background-position: 720px 336px;
	transform: none; 
}

.threshold_4players_level2 {
	background-image: url('img/ThresholdSheets.jpg');
	background-position: 720px 336px;
	transform: rotate(180deg);
}

.threshold_4players_level3 {
	background-image: url('img/ThresholdSheets.jpg');
	background-position: 720px 0px;
	transform: none;
}

.threshold_4players_level4 {
	background-image: url('img/ThresholdSheets.jpg');
	background-position: 720px 0px;
	transform: rotate(180deg);
}

/* 5 players */
.threshold_5players_level1 {
	background-image: url('img/ThresholdSheets.jpg');
	background-position: 480px 336px;
	transform: none; 
}

.threshold_5players_level2 {
	background-image: url('img/ThresholdSheets.jpg');
	background-position: 480px 336px;
	transform: rotate(180deg);
}

.threshold_5players_level3 {
	background-image: url('img/ThresholdSheets.jpg');
	background-position: 480px 0px;
	transform: none;
}

.threshold_5players_level4 {
	background-image: url('img/ThresholdSheets.jpg');
	background-position: 480px 0px;
	transform: rotate(180deg);
}

/* 6 players */
.threshold_6players_level1 {
	background-image: url('img/ThresholdSheets.jpg');
	background-position: 240px 336px;
	transform: none; 
}

.threshold_6players_level2 {
	background-image: url('img/ThresholdSheets.jpg');
	background-position: 240px 336px;
	transform: rotate(180deg);
}

.threshold_6players_level3 {
	background-image: url('img/ThresholdSheets.jpg');
	background-position: 240px 0px;
	transform: none;
}

.threshold_6players_level4 {
	background-image: url('img/ThresholdSheets.jpg');
	background-position: 240px 0px;
	transform: rotate(180deg);
}

/* Enemy Sheets! ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/
/* Kraken: */
.enemyKrakenFront {
	background-image: url('img/EnemySheets.jpg');
	background-position: 0px 336px;
}

.enemyKrakenBack {
	background-image: url('img/EnemySheets.jpg');
	background-position: 0px 0px;
}

/* The Shark: */
.enemySharkFront {
	background-image: url('img/EnemySheets.jpg');
	background-position: 240px 336px;
}

.enemySharkBack {
	background-image: url('img/EnemySheets.jpg');
	background-position: 240px 0px;
}

/* The Sirens: */
.enemySirensFront {
	background-image: url('img/EnemySheets.jpg');
	background-position: 480px 336px;
}

.enemySirensBack {
	background-image: url('img/EnemySheets.jpg');
	background-position: 480px 0px;
}

/* The Skullsairs: */
.enemySkullsairsFront {
	background-image: url('img/EnemySheets.jpg');
	background-position: 720px 336px;
}

.enemySkullsairsBack {
	background-image: url('img/EnemySheets.jpg');
	background-position: 720px 0px;
}
